###1. Assign the value 7 to the variable guess_me. Then, write the conditional tests (if, else, and elif) to print the string 'too low' if guess_me is less than 7, 'too high' if greater than 7, and 'just right' if equal to 7.

In [11]:
guess_me = 7

if guess_me<7:
  print('too low')
elif guess_me>7:
  print('too high')
else:
  print('just right')

just right

In [12]:
guess_me = 4

if guess_me<7:
  print('too low')
elif guess_me>7:
  print('too high')
else:
  print('just right')

too low

In [13]:
guess_me = 11

if guess_me<7:
  print('too low')
elif guess_me>7:
  print('too high')
else:
  print('just right')

too high

###2. Assign the value 7 to the variable guess_me and the value 1 to the variable start. Write a while loop that compares start with guess_me. Print too low if start is less than guess me. If start equals guess_me, print 'found it!' and exit the loop. If start is greater than guess_me, print 'oops' and exit the loop. Increment start at the end of the loop.

In [17]:
guess_me = 7
start = 1
while True:
  if start<guess_me:
    print('too low')
  elif start == guess_me:
    print('found it!')
  else:
    print('oops')
    break
  start += 1

too low
too low
too low
too low
too low
too low
found it!
oops

###3. Print the following values of the list [3, 2, 1, 0] using a for loop.

In [18]:
 list1 =  [3, 2, 1, 0]
 for i in list1:
   print(i)

3
2
1
0

### 4. Use a list comprehension to make a list of the even numbers in range(10)

In [22]:
[i for i in range(1,10) if i%2==0]

[2, 4, 6, 8]

###5. Use a dictionary comprehension to create the dictionary squares. Use range(10) to return the keys, and use the square of each key as its value.

In [29]:
{i:i**2 for i in range(1,10)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

###6. Construct the set odd from the odd numbers in the range using a set comprehension (10).

In [33]:
{i for i in range(1,10) if i%2!=0}

{1, 3, 5, 7, 9}

###7. Use a generator comprehension to return the string 'Got ' and a number for the numbers in range(10). Iterate through this by using a for loop.

In [37]:
gen = ('Got_' + str(i) for i in range(10))
for j in gen:
  print(j,end=' ')

Got_0 Got_1 Got_2 Got_3 Got_4 Got_5 Got_6 Got_7 Got_8 Got_9

###8. Define a function called good that returns the list ['Harry', 'Ron', 'Hermione'].

In [39]:
def good():
  return ['Harry','Ron','Hermoine']

good()

['Harry', 'Ron', 'Hermoine']

###9. Define a generator function called get_odds that returns the odd numbers from range(10). Use a for loop to find and print the third value returned.

In [57]:
def get_odds():
  lst=[]  
  for i in range(10):
    if i%2!=0:
      lst.append(i)
  yield lst

next(get_odds())[2]

5

###10. Define an exception called OopsException. Raise this exception to see what happens. Then write the code to catch this exception and print 'Caught an oops'.

In [59]:
class OopsException(Exception):
  pass

def test(input):
  if input<0:
    raise OopsException(a)

  
try:
  test(-3)

except Exception as e:
  print('Caught an oops->', e)

Caught an oops-> name 'a' is not defined

###11. Use zip() to make a dictionary called movies that pairs these lists: titles = ['Creature of Habit', 'Crewel Fate'] and plots = ['A nun turns into a monster', 'A haunted yarn shop'].

In [61]:
titles = ['Creature of Habit', 'Crewel Fate']
plots = ['A nun turns into a monster', 'A haunted yarn shop']


movies = {keys:values for (keys,values) in zip(titles, plots)}

movies

{'Creature of Habit': 'A nun turns into a monster',
 'Crewel Fate': 'A haunted yarn shop'}